.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px;
  gap: 80px;
  width: 100%;
}
.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  overflow: hidden;
  gap: 52px;
  width: 100%;
  min-height: 100dvh;
  position: relative;
}
.background {
  position: absolute;
  width: 100%;
  height: 100%;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2));
  inset: 0;
  z-index: 0;
}
.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
  width: 100%;
  max-width: 783px;
  margin-bottom: 60px;
  z-index: 1;
}
.text {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}
.title {
  font-family: var(--font-manrope);
  font-weight: 700;
  font-size: 60px;
  line-height: 72px;
  text-align: center;
  color: #ffffff;
}
.subtitle {
  font-family: var(--font-manrope);
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
  text-align: center;
  color: #ffffff;
}
.button {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 276px;
  height: 44px;
  background: #3470ff;
  border-radius: 12px;

  font-family: var(--font-manrope);
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
  cursor: pointer;
}
